div.CourseItem {
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e6f2ff;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

div.CourseItem img {
    width: 35%;
    height: 35%;
    border-radius: 10px;
}

button{
    padding: 8px;
    border-radius: 10px;
}